In [1]:
import pandas as pd

data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df1 = pd.DataFrame(data)
display(df1)

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
#多個相同索引Series,可以組成1個DataFrame
display(df1['縣市'])
display(df1['年份'])
display(df1['人口'])

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [3]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df2 = pd.DataFrame(data,columns=['年份','人口','縣市'])
df2

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [4]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df3 = pd.DataFrame(data,columns=['縣市','人口'])#變更欄位
df3

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [5]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df4 = pd.DataFrame(data,index=['one', 'two', 'three', 'four', 'five', 'six'])#更改索引
df4

       縣市    年份   人口
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
four   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [6]:
data = [
    {'縣市':'台北', '年份':2000, '人口': 2.2},
    {'縣市':'台中', '年份':2001, '人口': 1.1},
    {'縣市':'新竹', '年份':2001, '人口': 1.5},
]

df5 = pd.DataFrame(data)
df5

   縣市    年份   人口
0  台北  2000  2.2
1  台中  2001  1.1
2  新竹  2001  1.5

In [7]:
#2維的ndArray
import numpy as np

data = np.random.randint(50,101,size=(50,5))
scores_df = pd.DataFrame(data,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))#columns變更欄位名稱
scores_df

    國文  英文   數學   地理  歷史
1   97  95   71   80  71
2   87  80   95   66  99
3   99  58   64   87  70
4   66  81   89   65  87
5   69  51   79   61  51
6   75  62   92   94  77
7   84  55   59   50  92
8   66  85   89   86  92
9   61  64   84   52  70
10  62  55   61   52  64
11  84  59   68   60  51
12  67  69   55   54  68
13  84  76   66   71  89
14  64  94   67   68  85
15  58  70   64   88  86
16  50  65   75   67  81
17  72  57   96   56  88
18  86  70   63   99  67
19  61  51   80   57  60
20  95  97   88   73  71
21  50  68   98   63  83
22  57  67   61   91  99
23  64  97   83   75  68
24  84  97  100   73  66
25  72  90   68   60  93
26  72  91   56   96  81
27  57  67   90   78  68
28  58  79   67   99  73
29  62  79   53   77  66
30  77  96   97   79  74
31  56  76   78   93  84
32  68  73   96   87  52
33  84  53   95   52  68
34  96  81   81   95  89
35  97  52   61   87  82
36  77  84   62   56  95
37  95  79   71   99  78
38  74  95   87   98  93
39  76  54   78   96  86
40  78  95   73  100  94
41  60  98   95   86  61
42  73  69   66   90  79
43  94  66   72   95  82
44  51  89   55   94  82
45  77  71   93   74  72
46  73  90   98   95  75
47  79  94   80   90  65
48  87  71   74   80  97
49  64  90   88   91  61
50  59  75   73   98  58